html {
    font-size: 10px;
}

body {
    font-family: $font;
    background: $clr-white;
    transition: all 0.2s ease-in;
    font-size: 1.8rem;
    width: 100%;
    color: $clr-base-light;
    font-weight: $font-regular;
    line-height: 2.3rem;
}

img {
    width: 100%;
}

a {
    &:hover {
        text-decoration: none;
        color: $clr-primary;
    }
}

.cm-line-break {
    display: block;
}

.set-bg {
    background-size: cover;
    .fetch-img-src {
        display: none;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 20;
    }
}

.main {
    max-width: 1170px;
    width: 94%;
    position: relative;
    margin: 5rem auto;
}

.container {
    padding: 3rem 10rem 5rem;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    position: relative;
    transition: all 0.2s ease-in;
    z-index: 1;
    background-color: $clr-white;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 34%;
        right: 160px;
        width: 460px;
        height: 500px;
        background: rgba(250, 181, 54, 0.2);
        transform: rotate(45deg) translateY(-55%);
        border-radius: 11% 0% 26% 40%;
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 44%;
        right: 40px;
        width: 200px;
        height: 200px;
        background: rgba(250, 181, 54, 0.25);
        transform: rotate(26deg) translateY(-55%);
        border-radius: 40% 0% 17% 12%;
        z-index: -1;
    }
}

// .lhs {
//     width: 45%;
//     float: left;
// }
// .rhs {
//     width: 50%;
//     float: right;
// }
.cont-wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr;
    grid-gap: 0 5.5rem;
}

.cm-title {
    font-weight: $font-semibold;
    text-transform: uppercase;
    font-family: $font2;
    font-size: 2.2rem;
    color: $clr-black;
    letter-spacing: 1px;
    margin-bottom: 1.8rem;
}

.cm-subtitle {
    font-weight: $font-medium;
    font-size: 1.8rem;
    line-height: 2rem;
    color: $clr-black;
    // margin-bottom: 1rem;
}

// .regular {
//     font-weight: $font-regular;
//     color: $clr-primary;
// }
.theme-text {
    font-weight: $font-regular;
    color: $clr-primary;
}

.cm-margin-top {
    margin-top: 6rem;
}

@media only screen and (max-width: 1400px) {
    .main {
        max-width: 1024px;
        width: 94%;
        position: relative;
        margin: 5rem auto;
    }
    .container {
        padding: 3rem 8rem 5rem;
    }
}

@media only screen and (max-width: $media-lg) {
    .container {
        padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 5rem 5rem 5rem;
        &:before {
            top: inherit;
            bottom: 22%;
            right: 106px;
            width: 80vw;
            height: 80vw;
            transform: rotate(45deg) translateY(-55%);
            border-radius: 11% 0 26% 40%;
        }
        &:after {
            bottom: 22%;
            top: inherit;
            right: 40px;
            width: 35vw;
            height: 35vw;
            transform: rotate(43deg) translateY(-55%);
            border-radius: 34% 0 23% 12%;
        }
    }
    .cont-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 4rem;
    }
}

@media(max-width:$media-md) {
    html {
        font-size: 9.5px;
    }
    .container {
        padding: 3rem 2.2rem;
    }
    .container {
        max-width: none;
        width: auto;
    }
}

@media only screen and (max-width: $media-xs) {
    .container {
        padding: 2.2rem;
    }
    body {
        color: #333;
    }
}