html {
    font-size: 10px;
}

body {
    // font-family: 'Work Sans', sans-serif;
    background: $clr-white;
    font-size: get-vw(16px);
    // letter-spacing: -0.5px;
    overflow-x: hidden !important;
    width: 100%;
    color: $clr-base-light;
}

img {
    width: 100%;
}

a {
    &:hover {
        text-decoration: none;
        color: $clr-default;
    }
}

.main {
    width: 100%;
    overflow-x: hidden;
}

.cm-line-break {
    display: block;
}

.set-bg {
    background-size: cover;
    .fetch-img-src {
        display: none;
    }
}