.comp-header {
    padding: 8rem 10rem 5rem;

    .profile-pic {
        background: $clr-primary;
        border-radius: 50%;
        position: relative;

        &:before {
            content: "";
            background: $clr-primary;
            width: 53%;
            height: 53%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            // border: 100px solid transparent;
            // border-left: 100px solid $clr-primary;
            // border-top: 100px solid $clr-primary;
        }
    }

    .img-wrap {
        overflow: hidden;
        border-radius: 50%;
        border: 0.5rem solid #fab536;

        img {
            float: left;
        }
    }
}

.profile-detail {
    text-transform: uppercase;

    .name {
        font-size: 6.5rem;
        color: $clr-black;
        font-weight: $font-bold;
        margin: 0 0 2rem;
        letter-spacing: 2px;
        font-family: $font2;
        line-height: 7.5rem;
    }

    .designation {
        font-size: 2.2rem;
        color: $clr-primary;
        letter-spacing: 1px;
    }

    .about {
        margin-top: 2.5rem;
        text-transform: none;
    }
}


@media only screen and (max-width: $media-lg) {
    .comp-header {
        padding: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .comp-header {
        .profile-pic {
            max-width: 22rem;
        }

        .cont-wrapper {
            grid-gap: 2rem;
        }
    }

    .profile-detail {
        .name {
            font-size: 5rem;
            line-height: 5.5rem;
        }
    }
}

@media only screen and (max-width: $media-md) {
    .comp-header {
        padding: 3rem 2.2rem;
    }

    .profile-detail {
        .name {
            font-size: 4.2rem;
            line-height: 4.6rem;
            margin-bottom: 1rem;
        }

        .about {
            margin-top: 1.6rem;
        }
    }
}


@media only screen and (max-width: $media-xs) {
    .comp-header {
        padding: 2.2rem;
    }
}