.comp-contact {
    .item {
        margin-bottom: 2rem;
        position: relative;
        padding-left: 4rem;
        text-align: left;

        &:before {
            font-size: 2rem;
            color: $clr-primary;
            position: absolute;
            left: 0;
            top: -0.1rem;
        }
    }
}

@media(max-width:$media-md) {
    .comp-contact {
        .item {
            padding-left: 3.3rem;
        }
    }
}