/* colors */

$clr-white:#ffffff;
$clr-black:#000000;
$clr-primary:#fab536;
$clr-base-light:#666;

/*font family*/

$font-regular:400;
$font-light:300;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$media-xl:1200px;
$media-lg:1024px;
$media-md:767px;
$media-xs:576px;