<div class="comp-header">
    <div class="cont-wrapper">
        <div class="lhs">
            <div class="profile-pic">
                <div class="img-wrap">
                    <img src="assets/images/user-pic.png" alt="">
                </div>
            </div>
        </div>
        <div class="rhs">
            <div class="profile-detail">
                <h1 class="name">Bhavesh <span class="cm-line-break"></span> Medhekar</h1>
                <h3 class="designation">Sr. Interface developer</h3>
                <p class="about">
                    An accomplished front-end developer with extensive experience building websites and mobile application UI with HTML5, CSS3 and various web scripting technologies, following web standards and also skilled in project management.
                </p>
                <p class="about">
                    To obtain a challenging and rewarding full time position with growth and learning opportunities in challenging work environment that would take advantage of my job experience.
                </p>
            </div>
        </div>
    </div>
</div>